{% extends "base.html" %}

{% block content %} 

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">        
     <div class="post">
			<h2 class="title">The Call Trends Android App:</h2>
			<div class="entry">
				<p>Download the Call Trends Android App in one of three ways:
				 <ol> 
                  <li>Download CallTrends to your Android powered phone by launching the android market in the application menu, searching  for "CallTrends" -- install and done.</li>
                  <li>Download the app using the Barcode Scanner on your phone and the QR Code found by <a href="/QRcode">clicking this link.</a></li>
                  <li>Copy & paste: <a href="/download">http://calltrends.appspot.com/download</a></li>
                 </ol>
                </p>
			</div>	
		</div>
	    <div class="post">
		 <h2 class="title">Help!</h2>
		  <div class="entry">
		   <p>Need Help? Email us at calltrendsandroid AT gmail.com. Replace the AT with @.</p>
	     </div>
	    </div>
    <div class="post">
	 <h2 class="title">The story:</h2>
	  <div class="entry">
	   <p>A Googler wrote <a href="http://code.google.com/p/mail-trends/">MailTrends</a> -- an awesome application that allows you to look at trend data from your Gmail account(s). I love looking at trends, I love graphs and charts so I tried putting something similar together for phone calls.</p>
     </div>
    </div>
    <div class="post">
      <h2 class="title">The people</h2>
       <div class="entry">
	    <p>'Hi, I'm XXX.' 'I'm XXX'. 'and I'm XXX.' There, intros are done, nice to meet you.  Thanks for checking out Call Trends.  We are excited you're even on the site, hopefully you like the app cause we've already learned a lot from you all. We doubt you're wondering this, but if you are, we're from California, Canada and Georgia respectively. We work together at a technology company in the Silicon Valley.</p>
	   </div>
	</div>
</div>
        
{% endblock content %} 
