{% extends "base.html" %}

{% block content %} 

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">        
                 <div class="post">
			<h2 class="title">The story:</h2>
			<div class="entry">
				<p>TEXT HERE</p>
			</div>
	
		</div>
       
     <div class="post">
			<h2 class="title">The Android App:</h2>
			<div class="entry">
				<p></p>
			</div>
	
		</div>
		
        <div class="post">
			<h2 class="title">The people</h2>
			<div class="entry">
				<p>'Hi, I'm XXX.' 'I'm XXX'. 'and I'm XXX.' There, intros are done, nice to meet you.  Thanks for checking out CallTrends.  We're excited you're even on the site, hopefully you like the app cause we've already learned a lot from you all. We doubt you're wondering this, but if you are, we're from XXX, XXX and XXXX respectively. We work together at a technology company in the Silicon Valley.
                </p>
			</div>
	    </div>
</div>
        
{% endblock content %} 
