<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Subordinate
Version    : 1.0
Released   : 20080412
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>CallTrends</title>
<style type="text/css">{% include "css/default.css" %}</style>

</head>

<body>

<!-- start headerbar -->

{% block header %}

<div id="header">
	<div id="menu">
		<ul>
			{% if logouturl %}
			<li><a href="{{logouturl}}"><span class="numbertxt"></span>Logout</a></li>
	        {% endif %}
			<li><a href="/"><span class="numbertxt"></span>Home</a></li>
			<li><a href="/about"><span class="numbertxt"></span>About</a></li>
			<li><a href="/mystats"><span class="numbertxt"></span>My Stats</a></li>
			<li><a href="/communitystats"><span class="numbertxt"></span>Community Stats</a></li>
		</ul>
	</div>
</div>

<div id="logo">
	<h1><a href="/index">CallTrends</a></h1>
	<br>
	<img src="{{logourl}}" alt="Call Trends Logo" width="500" height="100" class="left" />	
</div>

{% endblock %}

<!-- end header -->

<!-- start page -->
<!-- start content -->
<div id="page">
	
{% block content %}
    
    <div id="content">
		<div class="post">
			<h2 class="title">What is CallTrends?</h2>
			<div class="entry">
				<p><img src="static/images/img07.jpg" alt="" width="150" height="150" class="left" />CallTrends: See who you've been talking to on your Android powered phone. <a href="/about">Click here to get started.</a></p>
               <br />
		    </div>
	    </div>   
 	</div>
    
{% endblock %}

	<!-- end content -->
	<!-- start sidebar -->
    
{% block sidebar %}
    
	<div id="sidebar">
		<ul>
	
			<li>
			<h2>home</h2>
			<ul>
            	<li><a href="/about">About</a></li>
				<li><a href="/mystats">My Stats</a></li>
                <li><a href="/about">Getting Started</a></li>
				<li><a href="/communitystats">Community Stats</a></li>
			</ul>
			</li>
		</ul>
	</div>
    
{% endblock %}
  
<!-- end sidebar -->

<div style="clear: both;"> </div>
</div>

<!-- end page -->
<!-- start footer -->

<div id="footer">
	<div id="footer-wrap">
	<p id="legal">(c) 2008 CallTrends. </p>
	</div>
</div>

<!-- end footer -->
</body>
</html>
