{% extends "base.html" %}

{% block content %}
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<div class="entry">
	               <h2>Community stats</h2>
				<p>The Charts:
					INSERT CHARTS HERE

					<br>
					The Numbers:
				 <ul> 
	                 <li>Total Call Time: {{total_duration}}</li>
	                 <li>Total Calls: {{total_calls}}</li>
	                 <li>Total Answered Calls: {{total_answered_type}}</li>
	                 <li>Total Missed Calls: {{total_missed_type}}</li>
	                 <li>Total Incoming Calls: {{total_incoming_type}}</li>
	                 <li>Total Outgoing Calls: {{total_outgoing_type}}</li>
	                 <li>Total Incoming Time: {{total_incoming_time}}</li>
	                 <li>Total Outgoing Time: {{total_outgoing_time}}</li>
	                 <li>Calls less than 10 seconds: {{duration_10_seconds}}</li>
	                 <li>Calls less than 30 seconds: {{duration_30_seconds}}</li>
	                 <li>Calls less than 1 min: {{duration_1_min}}</li>
	                 <li>Calls less than 5 mins: {{duration_5_min}}</li>
	                 <li>Calls less than 10 mins: {{duration_10_min}}</li>
	                 <li>Calls less than 30 mins: {{duration_30_min}}</li>
	                 <li>Calls less than 1 hr: {{duration_1_hour}}</li>
	                 <li>Calls greater than 1 hr: {{duration_greater_than_1_hr}}</li>
	                </ul>
	               </p>
			</div>			
	<br />
	   <br />
	   <br />
	   <br />

		</div>
	</div>
	<!-- end content -->
	{% endblock content %}