{% extends "base.html" %}

{% block content %}
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
		
     <div class="post">
			<h2 class="title">Questions:</h2>
			<div class="entry">
			<ul>
            <li>Question: Where can I get the Android application?</li>
            Answer:
            </ul>
			</div>
	
		</div>
        
             <div class="post">
			<h2 class="title">orders</h2>
			<div class="entry">
				<ul>
            <li>Question: Where can I get the source code?</li>
            Answer: 
            </ul>
            
            <ul>
            <li>Question: Where can I get help?</li>
            Answer:
            </ul>
			</div>
	
		</div>
        
	</div>
</div>
	<!-- end content -->
{% endblock content %}