{% extends "base.html" %}

{% block content %}
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<h2 class="title">&nbsp;</h2>
			<div class="entry">
				<p><img src="static/images/product_banner.gif" alt="Green Product Banner" width="500" height="100" class="left" /></p><br /><br />
                
                <h2>CallTrends:</h2> See who you've been talking to on your Android powered phone.
			</div>
	
			<h2 class="title">&nbsp;</h2>
			<div class="entry">
				Cause log files, data, pretty charts and random stats are fun.
                <ol> 
                <li><a href="/login">Login to see your data</a></li>
                <li><a href="/gettingstarted">Get started now by downloading the Android app</a></li>
                <li><a href="/communitystats">See stats from all CallTrends users</a></li>
                </ol>
               
			</div>
		       <br />
    <br />
    <br />
    <br />
   
		</div>
	</div>
	<!-- end content -->
{% endblock content %} 