{% extends "base.html" %}

{% block content %}
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<div class="entry">
				<p><img src="{{logourl}}" alt="Call Trends Logo" width="500" height="100" class="left" /></p><br /><br />
                
                <h2>CallTrends:</h2> See who you've been talking to on your Android powered phone.
			</div>
	
			<div class="entry">
				Because log files, data, pretty charts and random stats are fun
                <ol> 
                <li><a href="/mystats">Login to see your data</a></li>
                <li><a href="/gettingstarted">Get started now by downloading the Android app</a></li>
                <li><a href="/communitystats">See stats from all CallTrends users</a></li>
                </ol>
               
			</div>
		       <br />
    <br />
    <br />
    <br />
   
		</div>
	</div>
	<!-- end content -->
{% endblock content %} 