<html>
    <form action="/datain" method="post">
      <div>name:<input type="text" value="bill" name="name"></div>
      <div>number:<input type="text" value="1 (415) 612-2222" name="phonenumber"></div>
      <div>email:<input type="text" value="www@gmail.com" name="email"></div>
      <div>numberlabel:<input type="text" value="cell" name="numberlabel"></div>
      <div>numbertype:<input type="text" value="numbertype1" name="numbertype"></div>
      <div>date:<input type="text" value="2152009" name="date"></div>
      <div>duration:<input type="text" value="1234" name="duration"></div>
      <div>incoming_type:<input type="text" value="1" name="incoming_type"></div>
      <div>outgoing_type:<input type="text" value="0" name="outgoing_type"></div>
      <div>missed_type:<input type="text" value="0" name="missed_type"></div>
      <div>answered_type:<input type="text" value="1" name="answered_type"></div>
      <div><input type="submit" value="Submit"></div>
    </form>
</html>